// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.newone_button
{
        background-color:#d0e4fe;
        border:1px solid #2F9AEB;
        display:inline-block;
        color:#615961;
        font-size:15px;
        font-weight:bold;
        padding:6px 10px;
        text-decoration:none;
        text-shadow:1px 1px 0px #ffffff;
}

