<div style="text-align:center;">
　<div style="margin:1 auto;border: 2px solid blue; width:200:px; ;height:30:px">Listing People</div>
</div>
<table>
  <tr>
    <th>Name &nbsp;&nbsp;&nbsp;       </th>
    <th>Sometingsay&nbsp;&nbsp;&nbsp; </th>
    <th>Hobbit&nbsp;&nbsp;&nbsp;      </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>
<table id="Jid">
<% @people.each do |person| %>
	<%= render :partial=>"show", :locals=>{:person=>person}%>
<% end %>
</table>

<br />


<div class="newbutton"><%= button_to_function "New Person", "Jnewaguy()" %></div>
<div class="discard"><%= button_to_function "Discard" ,"Jdiscard()"%></div>
<div class="newpersonevent"><%= render 'form' %></div>
<div class="editpersonevent"></div>
